@model StudyC.Models.Study

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>*@

<div>
    @*<h4>Study</h4>
        <hr />*@
    <dl class="row">
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Subject)
            </dt>*@
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Information)
            </dt>*@
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Information)
        </dd>
    </dl>
</div>
@*<div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Css{
    <link rel="stylesheet" href="~/css/studies/details.css">
}